html {
  width: 100%;
  height: 100%;
  font-size: medium;
}
html * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font: 100% Consolas;
  margin: 0;
  height: 100%;
  color: #B3B3B3;
}
body a {
  color: #B3B3B3;
  text-decoration: none;
}
body a:hover {
  -webkit-text-decoration: underline #535353 solid;
          text-decoration: underline #535353 solid;
}

main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  background-color: #0E1112;
}

#generalAnchor {
  text-decoration: none;
  color: #B3B3B3;
  transition: color 0.5s;
}

#generalAnchor:hover {
  -webkit-text-decoration: underline #B3B3B3;
          text-decoration: underline #B3B3B3;
}

hr.rounded {
  border-top: 4px solid #535353;
  border-radius: 5px;
  width: 100%;
  margin: 0;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 300px;
  height: 100%;
  padding: 0;
  background-color: #0E1112;
  border: medium dashed green;
}

#mainWebsiteLink {
  margin-bottom: 5px;
  text-decoration: none;
}
#mainWebsiteLink h2 {
  font-family: cursive;
}

#homeLink h2 {
  font-weight: bolder;
}

#navLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
  list-style: none;
  padding-left: 0;
}
#navLinks li {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  width: 95%;
  height: 3em;
  margin: 0 0.3em;
}
#navLinks li:hover h3 {
  color: #1DB954;
}
#navLinks li:hover img {
  filter: brightness(0) saturate(100%) invert(52%) sepia(99%) saturate(410%) hue-rotate(89deg) brightness(92%) contrast(84%);
}
#navLinks a {
  text-decoration: none;
  width: 95%;
}
#navLinks div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 15px;
}
#navLinks h3 {
  margin: 0;
}
#navLinks img {
  width: 2em;
  height: 2em;
  filter: brightness(0) saturate(100%) invert(78%) sepia(0%) saturate(1584%) hue-rotate(80deg) brightness(91%) contrast(93%);
}

#moreLink {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 15px;
  margin-left: 1em;
  text-decoration: none;
}
#moreLink h3 {
  margin: 0;
}
#moreLink img {
  width: 2em;
  height: 2em;
  filter: brightness(0) saturate(100%) invert(78%) sepia(0%) saturate(1584%) hue-rotate(80deg) brightness(91%) contrast(93%);
}

.more-dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: grey;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  padding: 0;
  height: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 50px 0 0;
  padding: 5px 20px;
  width: 100%;
  background-color: #ffffff;
}

.track-content {
  background-color: black;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
}
.track-content img {
  max-height: 550px;
}
.track-content video {
  height: 550px;
  width: 100%;
}

.upload-data-button {
  background-color: #ffffff;
  justify-self: flex-start;
}

#moreDots:hover {
  cursor: pointer;
}

#moreCaption {
  display: none;
}

footer {
  background-color: #0E1112;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-left: 0;
  width: 100%;
  padding: 50px 0 50px 50px;
}

.footer-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-right: 80px;
}
.footer-title h3 {
  margin: 0 10px;
}
.footer-title img {
  width: 2em;
  height: 2em;
  filter: brightness(0) saturate(100%) invert(78%) sepia(0%) saturate(1584%) hue-rotate(80deg) brightness(91%) contrast(93%);
}

.all-footer-columns {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 30px;
  justify-content: flex-start;
  text-align: start;
  padding: 5px 50px 0 0;
  margin: 10px 0;
  min-height: 200px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 20%;
  margin-left: 0;
}
.footer-column ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-column li {
  display: inline;
  margin: 6px 0;
  white-space: wrap;
  font-size: medium;
}
.footer-column li:hover a {
  color: #1DB954;
  text-decoration: none;
}
.footer-column li:hover img {
  filter: brightness(0) saturate(100%) invert(52%) sepia(99%) saturate(410%) hue-rotate(89deg) brightness(92%) contrast(84%);
}

.button-one {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* CSS */
.buttonTwo {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonTwo:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.buttonTwo:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

/* CSS */
.buttonThree {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonThree:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.buttonThree:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

@media screen and (max-width: 1700px) {
  .video-column {
    width: 33.33333%;
  }
}
@media screen and (max-width: 1300px) {
  .all-footer-columns {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  #navLinks h3 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  main {
    flex-direction: column-reverse;
  }
  .nav-buttons {
    width: 100%;
  }
  #navLinks {
    flex-direction: row;
  }
  .center-content {
    margin-left: 0;
  }
  .all-footer-columns {
    grid-template-columns: 20fr;
    justify-items: start;
    padding: 5px 20px 5px 30px;
  }
}
@media screen and (max-width: 480px) {
  #navLinks {
    gap: 15px;
  }
}/*# sourceMappingURL=style.css.map */