
$font-stack: Consolas;

$primary-color: #1DB954;
$primary-color-filter: brightness(0) saturate(100%) invert(52%) sepia(99%) saturate(410%) hue-rotate(89deg) brightness(92%) contrast(84%);
$secondary-color: #B3B3B3;
$secondary-color-filter: brightness(0) saturate(100%) invert(78%) sepia(0%) saturate(1584%) hue-rotate(80deg) brightness(91%) contrast(93%);
$tertiary-color: #535353;

$light-color-1: #ffffff;
$light-color-2: #d2d2d2;

$dark-color-1: #0E1112;
$dark-color-2: #212121;

// Base Elements
// Elements that are used throughout all pages.

html {  
  width: 100%;
  height: 100%;

  font-size: medium;

  * {
    box-sizing: border-box;
  }
} 
body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font: 100% $font-stack;
  margin: 0;
  height: 100%;
  // background-color: $dark-color-1;
  color: $secondary-color;

  a {
    color: $secondary-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline $tertiary-color solid;
    // background-color: $tertiary-color;
  }
}
main {  
  display: flex;  
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  background-color: $dark-color-1;

  // height: 100vh;

}
#generalAnchor{
  text-decoration: none;
  color: $secondary-color;
  transition: color 0.5s;
}
#generalAnchor:hover{
  text-decoration: underline $secondary-color;
}
hr.rounded {
  border-top: 4px solid $tertiary-color;
  border-radius: 5px;
  width: 100%;
  margin: 0;
}

// Unique Elements
// Elements used only a few times.

.button-one {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* CSS */
.buttonTwo {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonTwo:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.buttonTwo:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* CSS */
.buttonThree {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonThree:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.buttonThree:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

// Main Page Elements

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;
  background-color: $dark-color-1;
  width: 245px;
  height: 100%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}
#mainWebsiteLink {
  margin-bottom: 5px;
  text-decoration: none;
  h2 {
    font-family: cursive;
  }
}
#homeLink {
  h2 {
    font-weight: bolder;
  }
}
#navLinks {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 15px;
  list-style: none;
  padding-left: 0;

  li {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    width: 95%;
    // min-width: 10em;
    height: 3em;
    padding-left: 7px;
  }
  li:hover h3 {
    color: $primary-color;
  }
  li:hover img {
    filter: $primary-color-filter;
  }
  a {
    margin-left: 1em;
    text-decoration: none;
    width: 95%;
  }
  div {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    gap: 15px;
  }
  h3 {
    margin: 0;
  }
  img {
    width: 2em;
    height: 2em;
    filter: $secondary-color-filter;
  }
}
#moreLink{
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  gap: 15px;
  margin-left: 1em;
  text-decoration: none;

  h3{
    margin: 0;
  } 
  img {
    width: 2em;
    height: 2em;
    filter: $secondary-color-filter;

  }
}
.more-dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: grey;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.center-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  margin: 0px 0px 0px 245px;
  padding: 0;
  height: 100vh;
}
.home-page{
  // flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 50px 0 0;
  padding: 5px 20px;
  width: 100%;
  // height: 800px;
  background-color: $light-color-1;
}
.track-content {
  background-color: black;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;

  img {
    max-height: 550px;
    // max-width: 468px;
  }
  video {
    height: 550px;
    width: 100%;
  }
}
.track-name {

}
.album-cover {
  
}
.track-info {
  
}
.upload-data-button {
  background-color: $light-color-1;
  justify-self: flex-start;
}
.track-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;

  div a {
    margin-right: 10px;
    text-decoration: none;
  }
  img {
    height: 25px;
    width: 25px; 
  }
  img:hover {
    filter: opacity(35%);
  }
}
#moreDots:hover {
  cursor: pointer;
}
#moreCaption{
  display: none;
}

footer {
  display: flex;  
  flex-direction: row;
  // min-height: 100px;
  width: 100%;
  padding: 50px 0;
  gap: 15px;
  background-color: $dark-color-1;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    margin: 6px 30px;
    white-space: wrap;
  }
}
.footer-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;
  margin-right: 80px;

  h3 {
    margin: 0 10px;
  }
  img {
    width: 2em;
    height: 2em;
    filter: $secondary-color-filter;
  }
}

.footer-items {
  display: flex;
  flex-direction: row;
  h3 {
    margin: 0;
    padding: 0;
  }
  li {
    // margin: 0 25px;
  }
}
.link-group {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  // margin: 0 10px;
  li {
    margin-left: 0;
    padding-left: 0;
  }

  li:hover a {
    color: $primary-color;
    text-decoration: none;
  }
}
@media screen and (max-width: 1900px) {

}

// Laptops and Small TVs
@media screen and (max-width: 1700px) {
  .video-column {
    width: 33.33333%;
  }
}

@media screen and (max-width: 1500px) {


}

// Tablets
@media screen and (max-width: 1300px) {
  .video-column {
    width: 49.9999%;
  }
  .top-footer {
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }

  .left-content {
    width: 100px;

    h3{
      display: none; 
    }
  }
  .center-content {
    margin: 0px 0px 0px 100px;
  }

  #navLinks {
    a, li {
      width: 75%;
      padding-left: 4px;
    }
  }
}

// Phones
// Sidebar is on the bottom, 
@media screen and (max-width: 780px) {
  .video-column {
    width: 99.99999%;
  }
  .top-footer{
    grid-template-columns: 20fr;
    justify-items: start;
    padding: 5px 20px 5px 30px;
  }
}
