
$font-stack: Consolas;

$primary-color: #FAFAFA;
$secondary-color: #2D3041;
$tertiary-color: #787878;

$alt-color-1: #B591D9;
$alt-color-2: #B8A9D9;
$alt-color-content: #1e1e1e;
$alt-color-hover: #2e1f4b;

$alt-color-4: #BF9663;
$alt-color-5: #F20505;

$light-color-1: #a8a8a8;
$light-color-2: #efefef;
$light-color-content: #c8c8c8;
$light-color-hover: #bebdbd;

$dark-color-1: #292929;
$dark-color-2: #3a3a3a;

// Base Elements
// Elements that are used throughout all pages.

html {
  width: 100%;
  min-height: 100vh;
  font-size: medium;

  * {
    box-sizing: border-box;
  }
} 
body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font: 100% $font-stack;

  color: $secondary-color;
  background-color: $light-color-3;
  transition: background-color 1s;
  margin: 0px;

  a {
    color: $secondary-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline $alt-color-3-hover solid;
    // background-color: $light-color-2;
  }
}
main {  
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 75vh;
}
.dark-mode {
  html {
    background-color: $alt-color-3;
  }
  header, main {
    color: $light-color-2;
    background-color: $alt-color-3;
    transition: background-color 1s, color 1s;

    a {
      color: $light-color-2;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline $light-color-3-hover solid;
    }
    #navLinks { 
      li:hover {
      background: $alt-color-3-hover;
      border: 2px solid $alt-color-3-hover;
      }
    }
  }
  .left-content {
    background-color: $alt-color-3-content;
  }
}
#generalAnchor{
  text-decoration: none;
  color: $secondary-color;
  transition: color 0.5s;
}
#generalAnchor:hover{
  text-decoration: underline $secondary-color;
}
hr.rounded {
  border-top: 4px solid $alt-color-2;
  border-radius: 5px;
  width: 100%;
  margin: 0;
}

// Unique Elements
// Elements used only a few times.

.fixed-nav-buttons {
  display: flex;
  flex-direction: column;
  text-align: end;
  position: fixed;
  right: 25px;
  bottom: 15px;

  a {margin-top: 3px;
  }
  button {
    font-size: 10px;
  }
  img {
    width: 1.5em;
    height: 1.5em;
  }
}
#button-one {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

// Main Page Elements

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 4px solid  black;
  padding-bottom: 25px;
  background-color: $light-color-3-content;
  width: 335px;
  height: 100%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}
#mainWebsiteLink {
  margin-bottom: 5px;
  text-decoration: none;
  h2 {
    font-family: cursive;
  }
}
#homeLink {
  h2 {
    font-weight: bolder;
  }
}
#navLinks {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 15px;
  list-style: none;
  padding-left: 0;

  li {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    width: 95%;
    // min-width: 10em;
    height: 3em;
    padding-left: 7px;

  }
  li:hover {
    background: lightgrey;
    border: 2px solid lightgrey;
    border-radius: 10px;
  }
  a {
    margin-left: 1em;
    text-decoration: none;
    width: 95%;
  }
  li:hover {
    background: $light-color-3-hover;
    border: 2px solid $light-color-3-hover;
  }
  div {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    gap: 15px;
  }
  h3 {
    margin: 0;
  }
  img{
    width: 2em;
    height: 2em;
  }
}
#moreLink{
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  gap: 15px;
  margin-left: 1em;
  text-decoration: none;

  h3{
    margin: 0;
  } 
  img {
    width: 2em;
    height: 2em;
  }
}
.more-dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: grey;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.center-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  // margin: 16px 16px 16px 300px;
  margin: 16px 100px 16px 390px;
  padding: 0 15px;
}
.home-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 700px;
}
.track-content {
  background-color: black;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;

  img {
    max-height: 550px;
    // max-width: 468px;
  }
  video {
    height: 550px;
    width: 100%;
  }
}
.track-name {

}
.album-cover {
  
}
.track-info {
  
}
.track-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;

  div a {
    margin-right: 10px;
    text-decoration: none;
  }
  img {
    height: 25px;
    width: 25px; 
  }
  img:hover {
    filter: opacity(35%);
  }
}
#moreDots:hover {
  cursor: pointer;
}
#moreCaption{
  display: none;
}
.artistModal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#favArtistsModal {
  display: none; /* Hidden by default */
}
.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  // width: 100%;
  width: 80%;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s  
}
#postModalSpan:hover {
  cursor: pointer;
}
.modal-close {
  margin: 10px;
}
.modal-body {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  img {
    width: 90%;
    // height: 10%;
  }
}
.modal-comments {
  width: 50%;
}
/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
.pfp-image-large {
  height: 70px;
  width: 70px;
  border: 5px solid transparent;
  border-radius: 50px;
  display: inline-block;
}
.pfp-image-medium {
  height: 50px;
  width: 50px;
  border: 5px solid transparent;
  border-radius: 50px;
  display: inline-block;
}
.pfp-image-small {
  height: 25px;
  width: 25px;
  border: 5px solid transparent;
  border-radius: 50px;
  display: inline-block;
}
#pfpActiveStory {
  background:
    linear-gradient(#ccc 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #9c20aa, #fb3570) border-box;
}
#iconHover {
  hover {
    filter: opacity(50%);
  }
}
footer {
  display: flex;  
  flex-direction: column;
  min-height: 100px;
  width: 300px;
  margin-top: 15px;
  gap: 15px;
}
.top-footer {
  ul {
    list-style: circle;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    margin: 6px 6px;
    white-space: wrap;
  }
}
.bottom-footer{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1900px) {

  .left-content {
    width: 245px;
  }
}

// Laptops and Small TVs
@media screen and (max-width: 1700px) {
  .video-column {
    width: 33.33333%;
  }

  .left-content {
    width: 245px;
  }
  .center-content {
    margin: 16px 100px 16px 380px;
  }
}

@media screen and (max-width: 1500px) {

  .center-content {
    margin: 16px 100px 16px 345px;
  }
}

// Tablets
@media screen and (max-width: 1300px) {
  .video-column {
    width: 49.9999%;
  }
  .top-footer {
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }

  .left-content {
    width: 100px;

    h3{
      display: none; 
    }
  }
  .center-content {
    margin: 16px 10px 5px 100px;}

  #navLinks {
    a, li {
      width: 75%;
      padding-left: 4px;
    }
  }
}

// Phones
// Sidebar is on the bottom, 
@media screen and (max-width: 780px) {
  .video-column {
    width: 99.99999%;
  }
  .top-footer{
    grid-template-columns: 20fr;
    justify-items: start;
    padding: 5px 20px 5px 30px;
  }
}
