
{% extends "layout.html" %}

{% block content %}

<div class="home-page">

  <div class="">

  </div>

  <div class="">
    <h1>Spotify Data Center</h1>
    <p>Here you can get all sorts of information about your favorite songs and artists on spotify!</p>

  </div>

  <div class="">
    <h1>Example visualization</h1>
    <p id="startCaption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel<span id="moreDots" onclick="revealCaption('post1')">...<br>more</span><span id="moreCaption">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
  </div>
</div>



{% endblock content %}
