
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <title>Spotify Explorer</title>
  </head>

  <body>
    <main>
      <nav class="nav-buttons">
        <ul id="navLinks">
          <li>
            <a href="{{ url_for('home') }}">
              <div id="homeLink">
                <img src="{{ url_for('static', filename='svg_images/house-door.svg') }}" alt="">
                <h3>Home</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div>
                <img src="{{ url_for('static', filename='svg_images/search.svg') }}" alt="">
                <h3>Search</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="{{ url_for('explore', vid_fold='album_covers') }}">
              <div>
                <img src="{{ url_for('static', filename='svg_images/compass.svg') }}" alt="">
                <h3>Explore</h3>              
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div>
                <img src="{{ url_for('static', filename='svg_images/plus-circle.svg') }}" alt="">
                <h3>Upload Data</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="{{ url_for('faqs') }}">
                <div>
                  <img src="{{ url_for('static', filename='svg_images/chat.svg') }}" alt="">
                  <h3>FAQs</h3>
                </div>
            </a>
          </li>
        </ul>
      </nav>
      <div class="center-content">
        {% block content %}{% endblock %}
        <footer>
            <div class="footer-title">
              <img src="{{ url_for('static', filename='svg_images/spotify.svg') }}" alt="">
              <h3>Spotify Visualization Explorer</h3>
            </div>
          <div class="all-footer-columns">

            <div class="footer-column">
              <h3>Documentation</h3>
              <ul >
                <li><a href="#">About</a></li>
                <li><a href="#">Use</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Features</h3>
              <ul>
                <li><a href="#">Your Top Artists</a></li>
                <li><a href="#">Your Top Tracks</a></li>
                <li><a href="#">Your </a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Guidelines</h3>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Use</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Accessibility</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Legal</h3>
              <ul> 
                <li><a href="#">Developer Terms</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Data</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </footer>

      </div>
    </main>
    <script>
      function revealCaption(postID) {
        document.querySelector('#moreDots').style.display = 'none';
        document.querySelector('#moreCaption').style.display = 'inline';
      }
    </script>
  </body>
</html>
